body {
    margin: 0;
    background-color: black;
}

.machine {
    border: red 2px solid;
    background-color: whitesmoke;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: auto;
    text-align: center;
}

.machine>#rouleaux {
    display: flex;
    justify-content: space-around;
}

#rouleaux>.rouleaux {
    padding: 7px 0px;
    width: 220px;
    height: 330px;
    font-size: 36px;
    background-image: url("./media/back_cash.png");
    background-repeat: no-repeat;
    position: relative;
}

#rouleaux>.rouleaux>img {
    width: 180px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
}
